src/OCC.UI.Webhost/Service References/CodeCampService/CodeCampService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CodeCampService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62256/ServiceContracts/CodeCampService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62256/ServiceContracts/CodeCampService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62256/ServiceContracts/CodeCampService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OCC.Service.Webhost.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICodeCampService_GetAllSponsors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSponsors" />
  </wsdl:message>
  <wsdl:message name="ICodeCampService_GetAllSponsors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSponsorsResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeCampService_GetAnnouncements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnnouncements" />
  </wsdl:message>
  <wsdl:message name="ICodeCampService_GetAnnouncements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnnouncementsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICodeCampService">
    <wsdl:operation name="GetAllSponsors">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeCampService/GetAllSponsors" message="tns:ICodeCampService_GetAllSponsors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeCampService/GetAllSponsorsResponse" message="tns:ICodeCampService_GetAllSponsors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnnouncements">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeCampService/GetAnnouncements" message="tns:ICodeCampService_GetAnnouncements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeCampService/GetAnnouncementsResponse" message="tns:ICodeCampService_GetAnnouncements_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICodeCampService" type="tns:ICodeCampService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSponsors">
      <soap:operation soapAction="http://tempuri.org/ICodeCampService/GetAllSponsors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnnouncements">
      <soap:operation soapAction="http://tempuri.org/ICodeCampService/GetAnnouncements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CodeCampService">
    <wsdl:port name="BasicHttpBinding_ICodeCampService" binding="tns:BasicHttpBinding_ICodeCampService">
      <soap:address location="http://localhost:62256/ServiceContracts/CodeCampService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>