src/OCC.UI.Webhost/Service References/CodeCampService/CodeCampService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62256/ServiceContracts/CodeCampService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OCC.Service.Webhost.Models" />
  <xs:element name="GetAllSponsors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSponsorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OCC.Service.Webhost.Models" minOccurs="0" name="GetAllSponsorsResult" nillable="true" type="q1:ArrayOfSponsor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnouncements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnouncementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OCC.Service.Webhost.Models" minOccurs="0" name="GetAnnouncementsResult" nillable="true" type="q2:ArrayOfAnnouncement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>